#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(7, 104, 231, 0.596);
  height: 80px;
}

form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  width: 400px;
  max-width: 600;
  background-color: rgb(232, 236, 232);
  height: 300px;
  align-items: center;
  box-shadow: 10px 7px 7px #1a191980;
}
input {
  margin: 20px;
  width: 50%;
  height: 40px;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding: 2px;
}

button {
  width: 200px;
}
